@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
@font-face {
  font-family: 'NBG';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumBarunGothic.eot);
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(font/NanumBarunGothic.woff2) format('woff2'),
       url(font/NanumBarunGothic.woff) format('woff'),
       url(font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NBG';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicBold.eot);
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(font/NanumBarunGothicBold.woff2) format('woff2'),
       url(font/NanumBarunGothicBold.woff) format('woff'),
       url(font/NanumBarunGothicBold.ttf) format('truetype');
}

/* base */
*, *::before, *::after{box-sizing:inherit}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0; font-family:'NBG',Dotum,Helvetica,AppleGothic,sans-serif; color:#666; font-size:14px; font-weight:400;}
body{background-color:#fff;text-align:left;word-break:break-all;*word-break:break-all;-ms-word-break:break-all;overflow-x:hidden;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:auto;}
ol, ul, li{list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:100%; display:block;}
img,fieldset,iframe, form,{border:0;}
address, caption, em {font-weight:normal; font-style:normal;}
legend{position:absolute !important; top:-9999px !important; width:1px !important; height:1px !important; font-size:0; overflow:hidden !important;}
hr, caption{display:none;}
input,select,button{vertical-align:middle;box-sizing: border-box;}
button{overflow:visible; margin:0; padding:0; border:0 none; background:transparent; cursor:pointer;}
body, tr, th, td, p, dt, dd, li, a, input{font:14px/120% 'NBG'; color:#666; vertical-align:middle;}
input, textarea {font:14px 'NBG'; vertical-align:middle;}
i, em, address{font-style:normal}
object, embed{margin:0;padding:0; font-size:0}
a:link, a:visited, a:active,a:hover {text-decoration:none;}
figure {margin: 0px; padding: 0px; margin-block-start: 0px; margin-block-end: 0px; margin-inline-start: 0px; margin-inline-end: 0px;  position: relative; overflow: hidden; width: 100%;}
label{cursor:pointer;}
textarea:focus, input:focus, button:focus  {outline: none;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: #8c93a5;opacity: 1; /* Firefox */}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #8c93a5;}
::-ms-input-placeholder { /* Microsoft Edge */color: #8c93a5;}

/* SKIP */
.skip a{position:absolute;left:0;top:-9999em;z-index:9999;display:block;width:100%;background:navy;color:#fff;font:bold 1.4em/2 arial,sans-serif}
.skip a:focus{top:0}
.clear{display:block;content:'';clear:both}

/* setting */
.clearfix {*zoom:1}
.clearfix:after{display:block; clear:both; content:""}
.disb{display:block !important}
.disn{display:none !important}
.disin{display:inline !important;}
.posr{position:relative}
.posa{position:absolute}
.hidden {width:0px; height:0px; display:none; overflow:hidden:}
.fl{float:left}
.fr{float:right}
.cl{clear:both;}
.txl {text-align:left !important;}
.txr {text-align:right !important;}
.txc {text-align:center !important;}
.txj {text-align:justify !important;}
.middle {vertical-align:middle;}
.bdb_0{border-bottom:none !important;}
.bdl_0{border-left:none !important;}
.bdr_0{border-right:none !important;}
.mt70 {margin-top:70px;}

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
body.fix {overflow: hidden; width: 100vw; height: 100vh;}
.header-wrap {height:65px;}
header {width:100%; height: 65px; z-index: 1002; position: fixed; opacity:1; background: rgba(0, 0, 0, 0); -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
header.nav-up {top:-65px; opacity:0;}
header.nav-down {top:0px; opacity:1; background: #7850f5;}

header:after {content: ""; display: block; clear: both; height: 0}
header h1 {display: inline-block; width: auto; float: left}
header h1 a {width: 140px; height: 47px; display:  block; text-indent: -999px; overflow: hidden;  background: url('../img/logo.png') no-repeat; background-size: contain; margin: 10px 0 0}
header nav {float: left; margin-left: 40%;}
header nav ul li {float: left;}
header nav ul li a {font-size:17px; display: block; height: 65px;line-height: 65px; color:#fff; padding: 0 30px}
header .util {float: right; margin-top: 18px}
header .util > * {float: left}
header .util > ul {margin-right: 40px}
header .util > ul > li {float: left; margin-right: 20px; position: relative;}
header .util > ul > li > div.tooltip {display: none;}
header .util > ul > li #bell {position: relative; cursor:pointer; z-index: 10;}
header .util > ul > li #bell::after {content: ""; display: inline-block; width: 6px; height: 6px; position: absolute; border-radius: 50%; background: #ff4d4e;}
.sub.pol #bell::after {background: #fff;}
header .util > ul > li i {color:#fff; font-size:1.8rem;}
header .util .memlog.out {cursor:pointer; display: inline-block; height:28px; line-height: 28px; border-radius: 3px; background: rgba(255,255,255,.3); width:56px; text-align: center; }
header .util .memlog.out a {color:#fff;font-size:13px;}

    .tooltip-bg {opacity: .5; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 1003; display: none;}
    .tooltip.alarm {position: absolute; width:340px; height:290px; margin-left: -163px; margin-top: 20px; z-index:1004;}
    .tooltip.alarm::after {content: ''; display: inline-block; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #fff; position: absolute; top:-7px; left:170px; z-index: 3; }
    .tooltip.alarm .tooltipArea {background: #fff; width:100%; height:290px; position: relative; overflow:hidden; border-radius: 6px; -webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);-moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2); box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);}

    .tooltip.alarm .alarmArea {width:340px; position: absolute;}
    .tooltip.alarm .title {height:50px; border-bottom:1px solid #eee; padding: 0 25px}
    .tooltip.alarm .alarmArea .title strong {float: left; display: inline-block; line-height: 50px; font-size:14px;}
    .tooltip.alarm .alarmArea .title span {float: right; color:#ff4d4e; font-size:13px; border-bottom:1px dashed #ff4d4e; cursor: pointer; margin-top: 17px; display: inline-block;}
    .tooltip.alarm .alarmArea .title::after {content: ''; display: block; clear: both;}

    .tooltip.alarm .alarmArea .requestList,
    .tooltip.alarm .followRequestArea .followList {width:340px; padding: 0 25px; height:240px; overflow-y: auto;}
    .tooltip.alarm .alarmArea .requestList strong {display: block; font-size:12px; height:24px; margin: 25px 0 0;}
    .tooltip.alarm ul li {margin-bottom: 15px;}
    .tooltip.alarm ul li > div {float: left}
    .tooltip.alarm ul li::after {content: ''; display: block; clear: both;}
    .tooltip.alarm ul li div.chr {width: 60px;}
    .tooltip.alarm ul li div.chr span {width:48px; height:48px; border-radius: 50%; overflow: hidden; display: block;}
    .tooltip.alarm ul li div.chr span img {width: 100%;}
    .tooltip.alarm .alarmArea .requestList ul li div.content {width:165px; font-size:13px; line-height: 1.5; margin-top: 4px}
    .tooltip.alarm .alarmArea .requestList ul li div.content time {color:#aaa;}
    .tooltip.alarm .alarmArea .requestList ul li div.actBtn {float: right; width:54px;}
    .tooltip.alarm ul li div.actBtn button {width:54px; height:33px; display: inline-block; line-height: 33px; margin-top: 7px; font-size:13px; border-radius: 4px}
    .tooltip.alarm ul li div.actBtn button.follow {color:#29cc97; background: #e9faf4}
    .tooltip.alarm ul li div.actBtn button.reject {color:#777; background: #eee; margin-left: 8px;}

    .tooltip.alarm .followRequestArea {position: absolute; left:380px; }
    .tooltip.alarm .followRequestArea .title span {display: inline-block; cursor: pointer;position: absolute; top:11px;}
    .tooltip.alarm .followRequestArea .title span i {color:#aaa; }
    .tooltip.alarm .followRequestArea .title strong {display: block; height:50px; line-height: 50px; text-align: center; font-size:14px; font-weight: 400;}
    .tooltip.alarm .followRequestArea .followList ul li div.content {margin-top: 4px}
    .tooltip.alarm .followRequestArea .followList ul li div.content span {display: block; height: 22px; font-size:14px;}
    .tooltip.alarm .followRequestArea .followList ul li div.content time {display: block; font-size:12px; color:#aaa;}
    .tooltip.alarm .followRequestArea .followList ul li div.actBtn {float: right; width:120px;}

/* Footer */
footer {background: #222; padding: 3rem 0;}
footer::after {content: ""; display: block; clear: both;}
footer h1 {float: left; width: 180px}
footer h1 a {width: 140px; height: 47px; display: block; text-indent: -999px; overflow: hidden;  background: url('../img/logo.png') no-repeat; background-size: contain;}
footer .info {float: left; width: calc(100% - 180px);}
footer .info .gnb {}
footer .info .gnb ul li {float: left; padding: 0 20px 0 0}
footer .info .gnb ul li a {font-size:13px; color:#fff; font-weight: 400;}
footer .info .gnb ul li:first-child {}
footer .info .gnb::after {content: ""; display: block; clear: both;}
footer .info .address {color:#fff; margin-top: 17px; line-height: 160%; opacity:.7; font-size:12px;}
footer .info .address a {color:#fff; display: inline-block; transition:all .3s; font-size:12px; border:1px solid rgba(0,0,0,0);}
footer .info .address a:hover {border-bottom:1px dashed #fff;}
footer .info .address small {display: block; opacity: .3;}
footer .info .address span {display: inline-block; position: relative; top:2px;width: 1px; height: 12px; background: #666; margin: 0 8px}

/* 팝업
.popupBg {display: none; position:fixed; width: 100%; height: 100vh; background:rgba(0,0,0,.5); z-index: 111}
.pop-wp {background: #f6f6f6; position: fixed; top: 0; right: 0; left: 0; bottom:0; margin: auto; z-index:112; display: none;}
.pop-wp .btn-pop-close {display: none;}
.pop-wp .box {height: 100%; overflow:auto;}
.pop-wp::after {content: ""; display: inline-block; }
.pop-wp h2 {font-size: 24px; text-align: center; font-weight: 800; color:#333; height: 24px; margin: 65px 0 0;}
.pop-wp p {font-size: 14px;}
.pop-wp form input[type='text'],
.pop-wp form input[type='password'],
.pop-wp form input[type='number'],
.pop-wp form input[type='email'] {width: 100%;border:1px solid #ddd; height: 45px; padding: 0 0 0 15px}
.pop-wp.joinArea form textarea {font-size: 12px; border:1px solid #ddd; width:100%; height:225px; padding: 15px; box-sizing: border-box; margin: 15px 0 0}
.pop-wp form input[type='text'].wrong,
.pop-wp form input[type='password'].wrong {border:1px solid #ff4d4e;}
.pop-wp form input[type='text'].wrong + small,
.pop-wp form input[type='password'].wrong + small {color:#ff4d4e;display: block; font-size:12px ;margin: 0px 0 0; line-height: 28px}
.pop-wp form input[type='text'].wrong + small i,
.pop-wp form input[type='password'].wrong + small i {font-size:16px; margin: 3px 3px 0 0; position: relative; top:2px;}
.pop-wp form dl {width:60%; margin: 0 auto;}
.pop-wp form dl dd {margin: 0 0 15px}
.pop-wp form dl dt {padding: 10px 0 0;}
.pop-wp form dl dd::after {content: ""; display: block; clear: both;}
.pop-wp form dl button {text-align: center; display: block; width: 100%; font-size:15px; height: 46px; color: #fff; background: #005771;}
.pop-wp form input[type='checkbox'] {display: none;}

.loginArea {width: 50%; max-width: 540px; height: 720px;}
.loginArea.step1 p {text-align: center; width: 60%; margin: 15px auto 30px;}
.loginArea.step1 dd.util {margin: 14px 0 0}
.loginArea.step1 dd.util::after {content: ""; display: block; clear: both;}
.loginArea.step1 dd.util a {display: inline-block; float: left; height:14px; font-size:13px; transition:all .3s;}
.loginArea.step1 dd.util a:last-child {float: right; color:#52b4d1;font-weight: bold;}
.loginArea.step1 dd.util span {float: left}
.loginArea.step1 .line {text-align: center; width: 60%; margin: 40px auto 40px; position: relative; font-family: "Montserrat"; }
.loginArea.step1 .line::before,
.loginArea.step1 .line::after {content: ""; display: block; height: 1px; width:40%; background: #ccc; position: absolute; top: 9px}
.loginArea.step1 .line::after {right: 0px;}
.loginArea.step1 ul.loginOther li {width: 60%; margin: 0 auto 20px}
.loginArea.step1 ul.loginOther li a {display: block; height:54px; line-height: 54px; color:#fff; font-size:15px; position: relative; background: #7e5787;padding-left: 20px}
.loginArea.step1 ul.loginOther li:nth-child(2) a {background: #51ba9f;}
.loginArea.step1 ul.loginOther li a span {position: absolute; right:20px ; display: inline-block; width: 24px; height:24px;background: url('../img/ico_lessonable.png') center 50% no-repeat; top:14px;}
.loginArea.step1 ul.loginOther li a span.ico_b {background-image:url('../img/lco_bull.png'); }

.joinArea {display: none; width: 90%; max-width: 740px; height: 720px; border:1px solid #ddd;}
.joinArea::after {content: ""; display: block; clear: both;}
.joinArea .left,
.joinArea .right {width: 50%; height: 100%; float: left; box-sizing: border-box; padding: 50px 0 0}
.joinArea .left {padding: 0px 50px; background: #fff;}
.joinArea .left h2 {text-align: left;}
.joinArea .left p {margin-top: 20px}
.joinArea .right {background: #f6f6f6}
.joinArea form dl {width:70%;}
.joinArea form .name input[name='j_surname'] {float: left; width:35%;}
.joinArea form .name input[name='j_name'] {float: right; width:calc(65% - 10px);}
.joinArea form .birth input[type='number'] {float: left; width:calc(100% - 100px);}
.joinArea form .birth .genderArea {float: right; width:90px; border: 1px solid #ddd;}
.joinArea form .birth .genderArea input {width:0px; height:0px;opacity: 0;}
.joinArea form .birth .genderArea label {display: block; float: left; width: 50%; text-align: center; height: 45px; line-height: 45px;}
.joinArea form .birth .genderArea label.checked {background: #005771; color:#fff;}
.joinArea.step3 {height:380px; text-align: center; background: #f6f6f6; }
p.infoP {width: 84%; margin: 30px auto 0; text-align: center; line-height: 160%; font-size: 16px;}
button.btnBlue {display: block; margin: 40px auto 0; width: 240px; height:45px; background:#005771; color:#fff; font-size:16px;}

.findArea { width: 50%; max-width:540px; height: 340px; padding: 65px 0}
.findArea form {margin: 30px 0 0}
.findArea dd.util {margin: 12px 0 0;}
.findArea dd.util a {display: inline-block; float: left;}
.findArea dd.util a i {font-size:1rem; float: left}
.findArea dd.util a:last-child {float: right; color:#52b4d1;}

.chkArea {cursor: pointer;}
.chkArea label {display: inline-block; position: relative; }
.chkArea label i {color:#aaa; font-size:1rem; position: relative; top:2px; padding-right: 5px;}
.chkArea label i::before {border:1px solid #aaa; border-radius: 50% ;}
.chkArea label.checked i {color:#00bc7c;}
.chkArea label.checked i::before {border-color:#00bc7c;}
 */

.sub.message header,
.sub.message .header-wrap,
.sub.mypage header,
.sub.mypage header,
.sub.mypage .m-header{
background: #15c8f6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #15c8f6 0%, #3875f3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #15c8f6 0%,#3875f3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #15c8f6 0%,#3875f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15c8f6', endColorstr='#3875f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

section.curriculum > .title,
.sub.curr .header-wrap,
.sub.curr header,
.sub.curr .m-header {
background: #58c8ca; /* Old browsers */
background: -moz-linear-gradient(left, #58c8ca 0%, #4ac673 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #58c8ca 0%,#4ac673 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #58c8ca 0%,#4ac673 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58c8ca', endColorstr='#4ac673',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

section.project > .title,
.sub.prj .header-wrap,
.sub.prj header,
.sub.prj .m-header {
background: #8658e4; /* Old browsers */
background: -moz-linear-gradient(left, #8658e4 0%, #4a60e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #8658e4 0%,#4a60e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #8658e4 0%,#4a60e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8658e4', endColorstr='#4a60e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

section.company > .title,
.sub.aboutus .header-wrap,
.sub.aboutus header,
.sub.aboutus .m-header {
    background: #cc5aa4; /* Old browsers */
background: -moz-linear-gradient(left, #cc5aa4 0%, #544ae4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #cc5aa4 0%,#544ae4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #cc5aa4 0%,#544ae4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5aa4', endColorstr='#544ae4',GradientType=1 );}

section.policy > .title,
.sub.pol .header-wrap,
.sub.pol header,
.sub.pol .m-header {
background: #cb5aa1; /* Old browsers */
background: -moz-linear-gradient(left, #cb5aa1 0%, #fd683a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #cb5aa1 0%,#fd683a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #cb5aa1 0%,#fd683a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5aa1', endColorstr='#fd683a',GradientType=1 ); /* IE6-9 */}

.inner{width:100%; max-width: 1280px; margin: 0 auto; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.inner::after {content: ""; display: block; clear: both; height: 0px}

.inner_s {width: 720px; margin: 0 auto;}
.inner_s .box {background: #fff; -webkit-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2);
-moz-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2); box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2); padding: 40px 25px;}
.inner_s .box::after {content: ""; display: block; clear: both;}

.btnArea {text-align: center; margin: 40px 0 0;}
.btnArea a {display: inline-block; position: relative; border-radius: 22px; background: #7850f5; text-align: center; padding: 8px 52px 8px 30px; transition: all .3s;}
.btnArea a::after {content: ""; display: block;clear: both;}
.btnArea a span {float: left; position: relative; color: #fff; text-transform: uppercase; font-family: "Montserrat", 'NBG'; font-weight: 600; display: inline-block;height: 28px;line-height: 28px; margin: 0}
.btnArea a i {float: left; position: absolute; color:#fff;}
.btnArea a:hover {-webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);
box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);}

.btnBlur {background: #f5f6fa; font-size: 13px; color:#8c93a5; padding: 7px 16px; border-radius: 3px ; transition: all .3s}
.btnBlur:hover {background:#8c93a5; color:#f5f6fa;}

.m-header-wrap {display: none; transition: all .3s;}
.m-header-wrap .m-header {height:60px; width:100%; position: fixed; background: transparent; transition: all .3s;}

.m-header-wrap.nav-up {top:-60px; opacity:0;}
.m-header-wrap.nav-down {top:0px; opacity:1;}
.m-header-wrap.nav-down .m-header { background: #7850f5;}

.m-header-wrap .m-header h1 {display: inline-block; float: left; margin: 10px 0 0 20px;}
.m-header-wrap .m-header h1 a {width: 140px; height: 40px; display:  block; text-indent: -999px; overflow: hidden;  background: url('../img/logo.png') no-repeat; background-size: contain;}
.m-header-wrap .m-header button {width:60px; height:60px; float: right; right:0px; display: block;  position: relative;}
.m-header-wrap .m-header button:focus {outline: none;}
.m-header-wrap .m-header button span {position: absolute; display:block; left:17px; width:24px; height:2px; background: #fff; top:20px;}
.m-header-wrap .m-header button span:nth-child(2) {top:29px;}
.m-header-wrap .m-header button span:nth-child(3) {top:38px;}
.m-header-wrap .m-nav-bg {position: fixed; z-index:111; display: none; background: rgba(0,0,0,.3); width: 100%; top:0; left:0; right:0; bottom:0;}
.m-header-wrap .m-nav {position: fixed; z-index:112; top:0; right:-300px; height:100%; background: #fff; width:300px; }
.m-header-wrap .m-nav .box {overflow:auto; height:100%;}
.m-header-wrap .m-nav .nav-top {height:32px; padding: 5px 0 0;}
.m-header-wrap .m-nav .nav-top::after {content: ""; display: block; clear: both;}
.m-header-wrap .m-nav .nav-top dd {float: left;}
.m-header-wrap .m-nav .nav-top dd i {font-size: 2rem}
.m-header-wrap .m-nav .nav-top dt {float: right; margin-right: 10px; position: relative;}
.m-header-wrap .m-nav .nav-top dt a {display: inline-block; height:32px; line-height: 32px; color:#bbb; font-size:13px;}
.m-header-wrap .m-nav .nav-top dt a i {font-size:1.1rem; position: relative; top:2px;}
.m-header-wrap .m-nav .info-wrap .info-member {width: 260px; margin: 0 auto 30px;}
.m-header-wrap .m-nav .info-wrap .info-member dd {width: 100%;}
.m-header-wrap .m-nav .info-wrap .info-member dd span {display: block; width:110px; height:110px; border-radius: 50%; overflow:hidden; margin: 0 auto;}
.m-header-wrap .m-nav .info-wrap .info-member dd span img {width: 100%; }
.m-header-wrap .m-nav .info-wrap .info-member dt {margin-top: 7px;}
.m-header-wrap .m-nav .info-wrap .info-member dt strong {display: block; text-align: center; line-height: 26px; color:#222; font-size:16px; margin-bottom: 5px;}
.m-header-wrap .m-nav .info-wrap .info-member dt span {display: block; text-align: center; color:#aaa;}
.m-header-wrap .m-nav .info-wrap .info-member::after {content: ""; display: block; clear: both;}
.m-header-wrap .m-nav .info-wrap .util {border-bottom:1px solid #eee; border-top:1px solid #eee;}
.m-header-wrap .m-nav .info-wrap .util ul li {float: left; width:50%; box-sizing: border-box;}
.m-header-wrap .m-nav .info-wrap .util ul li:last-child {border-left:1px solid #eee;}
.m-header-wrap .m-nav .info-wrap .util::after {content: ""; display: block; clear: both;}
.m-header-wrap .m-nav .info-wrap .util ul li a {display: block; text-align: center; height:50px;line-height: 50px; position: relative;}
.m-header-wrap .m-nav .info-wrap .util ul li a i {display: inline-block; font-size: 1.3rem; position: relative; top:3px;}
.m-header-wrap .m-nav nav {padding-bottom: 65px;}
.m-header-wrap .m-nav nav ul li {float: left; width:33.3334%; text-align: center; height:55px; margin-top: 30px}
.m-header-wrap .m-nav nav ul li a {display: block;}
.m-header-wrap .m-nav nav ul li a i {display: block; font-size:1.8rem; margin-bottom: 6px; color:#555;}
.m-header-wrap .m-nav nav ul li a span {color:#222;}
.m-header-wrap .m-nav nav::after {content: ""; display: block; clear: both;}
.m-header-wrap .m-nav .m-alt {position: absolute; width:100%; height: 48px; bottom: 0px; border-top:1px solid #eee; background: #fff;}
.m-header-wrap .m-nav .m-alt dl::after {content: ""; display: block; clear: both;}
.m-header-wrap .m-nav .m-alt dl dd,
.m-header-wrap .m-nav .m-alt dl dt {float: left; width:50%; text-align: center; height:48px; line-height: 48px; box-sizing: border-box;}
.m-header-wrap .m-nav .m-alt dl dt {border-left:1px solid #eee;}
.m-header-wrap .m-nav .m-alt a i {font-size:18px; position: relative; top:2px; padding-right: 10px;}
.m-header-wrap .m-nav .m-alt a {font-size:14px;}
.m-header-wrap .m-header.tp2 {border-bottom:1px solid #eee; background: #fff;}
.m-header-wrap .m-header.tp2 button span {background: #222}
.m-header-wrap .m-header a.btnBack {width:60px; height:60px; line-height: 60px; text-align: center; display: block; float: left;}
.m-header-wrap .m-header a.btnBack i {font-size:18px;}
.m-header-wrap .m-header h2 {float: left; height:60px; line-height: 60px; text-align: center; width:calc(100% - 120px); margin: 0 auto; font-size:17px;}

section.m_message {padding: 65px 0 120px;}
section.m_message > strong {display: block; height:40px; line-height: 40px; padding-left: 20px; margin: 10px 0 0;}
section.m_message ul {border-top:1px solid #eee;}
section.m_message ul li {margin-left: 20px; border-bottom:1px solid #eee; padding: 10px 0; min-height:48px;}
section.m_message ul li .chr {float: left; width:60px;}
section.m_message ul li .chr span {width:48px; height:48px; border-radius:50%; overflow:hidden; display: inline-block;}
section.m_message ul li .chr span img {width:100%;}
section.m_message ul li .content {float: left; width:calc(100% - 200px);  overflow: hidden; text-overflow: ellipsis;  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; height: 2.4em; padding: 7px 0 0;}
section.m_message ul li .content time {color:#aaa;}
section.m_message ul li .actBtn {float: right; margin-right: 20px;}
section.m_message ul li .actBtn button {width:50px; height:33px; display: inline-block; line-height: 33px; margin-top: 7px; font-size:13px; border-radius: 4px}
section.m_message ul li .actBtn button.follow {color:#29cc97; background: #e9faf4}
section.m_message ul li .actBtn button.reject {color:#777; background: #eee; margin-left: 8px;}

.m-logoff {/* width:calc(100% - 30px); */ padding: 0 15px; background: #444;}
.m-logoff::after {content: ""; display: block; clear: both;}
.m-logoff h1 {text-align: center; padding: 30px 0 20px;}
.m-logoff h1 img {height: 40px;}
.m-logoff dl > * {line-height: 60px; height:60px;}
.m-logoff dl dd {float: left; color:#fff;}
.m-logoff dl dt {float: right;}
.m-logoff dl dt a {height:30px; display: inline-block; line-height: 30px; background: rgba(255,255,255,.2); border-radius:4px; font-size:12px; color:#fff; padding: 0 10px;}

.util_setting {width: calc(100% - 30px); margin: 0 auto; padding: 15px 0 0; height:44px;}
.util_setting ul li {float: left; }
.util_setting ul li:last-child {float: right; position: relative;}
.util_setting ul li:last-child a {font-size: 13px; color:#bbb; transition:all .3s;}
.util_setting ul li:last-child a i {font-size:1.1rem; position: relative; top:2px;}
.util_setting ul li:last-child a:hover {color:#222;}
#character_mypage,
#character {width:130px; height:130px; margin: 25px auto 15px; position: relative; overflow: hidden;}
#character_mypage {margin: 25px auto 15px;}
#character_mypage a,
#character a {display: block; position: absolute; width:130px; height:130px; border-radius: 50%; overflow: hidden;}
#character_mypage a img,
#character a img {width: 100%;}
#character_mypage span,
#character span {position: absolute; z-index: 1;width: 38px; height:38px; line-height: 38px; text-align: center; display: inline-block; color:#fff; font-family: 'Montserrat'; color:#fff; border-radius: 50%; font-size:11px; font-weight: 800; background: #786be6;}

.profile .feature_id {padding-bottom: 25px}
.profile .feature_id strong {display: block; text-align: center; font-size:18px; color:#222;}
.profile .feature_id p {text-align: center; margin: 8px 0 0}
.profile .feature_id p span {font-size:13px;}
.profile .feature_id p small {font-size:13px; color:#ccc; position: relative; padding-left: 15px;}
.profile .feature_id p small:before {content: ""; display: inline-block; width: 4px; height:4px; border-radius: 50%; background:#aaa; position: absolute; left:6px; top:8px;}

.profile .number_f {border-top:1px solid #eee; border-bottom: 1px solid #eee;}
.profile .number_f:after {content: ""; display: block; clear: both;}
.profile .number_f ul li {float: left; width:33.3334%; padding: 15px 0}
.profile .number_f ul li p {text-align: center; color:#aaa;}
.profile .number_f ul li strong {display: block; text-align: center; font-size:16px; color:#222; padding: 8px 0 0; }
.profile .number_f ul li strong.zero {color:#aaa;}
.profile .util_my ul li {float: left; width: 50%; }
.profile .util_my ul li a {display: block; text-align: left; color:#8c89a2; height:50px; line-height: 50px; width: 50%; margin: 0 auto;}
.profile .util_my ul li:last-child {border-left:1px solid #eee; width: calc(50% - 1px);}
.profile .util_my ul li a i {font-size:22px; line-height: 50px; float: left;}
.profile .util_my ul li a span {float: right; font-size:14px;}
