@charset "utf-8";

.mypArea {background: #f5f6fa; height:auto; min-height:980px; padding: 50px 0 120px;}
.mypArea h2 {font-size: 28px; color: #222; height: 58px; line-height: 40px}
.mypArea h2 small {font-size:13px; color:#8c89a2;}
.mypArea .lnb {width:280px; float: left;}
.mypArea .lnb .box {background: #fff; -webkit-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2);
-moz-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2); box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2);}
.mypArea .lnb .box:after {content: ""; display: block; clear: both;}

.mypArea .lnb .box ul.mymenu {padding: 25px 0;}
.mypArea .lnb .box ul.mymenu li a {display: block; font-size: 16px; color:#8c89a2; height: 30px; line-height: 30px; padding-left: 35px; position: relative;margin: 5px 0}
.mypArea .lnb .box ul.mymenu li.active a {color:#000; font-weight: 800;}
.mypArea .lnb .box ul.mymenu li.active a:before {content: ""; display: block; width: 4px; height:30px; background: #4c84ff; position: absolute; left:0;}
.mypArea .lnb .box:last-child {margin-top: 20px;}

.mypArea .container {width: 920px; float: right;}
.mypArea .container > div::after {content: ""; display: block; clear: both;}

.curr_list > ul > li {position: relative; float: left; background: #fff; }
.curr_list.row3 > ul > li {width: calc(33.3333% - 17.4px); margin: 0 26px 25px 0}
.curr_list.row3 > ul > li:nth-child(3n) {margin: 0px;}

.curr_list > ul > li .title {padding: 20px;}
.curr_list > ul > li .title strong {display: block; font-size:15px; color:#444; margin-bottom: 13px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:100%; overflow:hidden;}
.curr_list > ul > li .title p {font-size: 13px; color:#8c89a2; text-overflow: ellipsis; height: 17px; overflow: hidden;  white-space: nowrap;}
.curr_list > ul > li .title span {font-size: 13px; color:#ccc;}
.curr_list > ul > li .title span:after {content: "";display: inline-block; width:5px;}
.curr_list > ul > li .title time {font-size: 13px; color:#000;}

.curr_list.prj ul li:first-child {border:2px dashed #8c93a5; background: transparent; height:377px; display: table; transition:-webkit-box-shadow .3s; cursor:pointer;}
.curr_list.prj ul li:first-child:hover {-webkit-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05);
box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05);}
.curr_list.prj ul li:first-child div {display: table-cell; vertical-align: middle; text-align: center}
.curr_list.prj ul li:first-child div a {color:#8c89a2; font-size:16px;}
.curr_list.prj ul li:first-child div a i {font-size:90px; }

.curr_list_recommend .slick-list:after {content: ""; display: block; background: url('../img/shadow_list.png'); width:40px; height:100%; position: absolute; z-index: 2; right: 0px; top: 0px;}
.curr_list_recommend .slick-slide {background: #fff;margin-left: 25px;}
.curr_list_recommend .slick-slide figure {width:240px;}
.curr_list_recommend .slick-slide figure img {width: 100%;}
.curr_list_recommend .slick-slide .title {padding: 20px}
.curr_list_recommend .slick-slide .title strong {display: block;}
.curr_list_recommend .slick-slide .title strong a {font-weight: 800; color:#222; font-size: 15px;}
.curr_list_recommend .slick-slide .title .rate {margin: 10px 0 0;}
.curr_list_recommend .slick-slide .title .rate span {display: inline-block; width: 20px; height:20px; background: url('../img/i_rate_star.png') 0 0; margin-right: 3px;}
.curr_list_recommend .slick-slide .title .rate.r0 span:nth-child(n+1) {background-position: 0 -20px;}
.curr_list_recommend .slick-slide .title .rate.r1 span:nth-child(n+2) {background-position: 0 -20px;}
.curr_list_recommend .slick-slide .title .rate.r2 span:nth-child(n+3) {background-position: 0 -20px;}
.curr_list_recommend .slick-slide .title .rate.r3 span:nth-child(n+4) {background-position: 0 -20px;}
.curr_list_recommend .slick-slide .title .rate.r4 span:nth-child(n+5) {background-position: 0 -20px;}
.curr_list_recommend .slick-slide .title .rate.r5 span:nth-child(n+6) {background-position: 0 -20px;}
.curr_list_recommend .slick-arrow {position: absolute; right:0; top:-56px;text-indent: -9999px; overflow:hidden; height:38px; width:38px; border:1px solid #eee; background: #fff;}
.curr_list_recommend .slick-arrow.slick-prev {right:37px;}
.curr_list_recommend .slick-arrow.slick-prev::after {content: "<"; display: inline-block;}
.curr_list_recommend .slick-arrow.slick-next::after {content: ">"; display: inline-block;}

figure { position: relative; overflow: hidden;}
figure img.origin {position: absolute; left:0px; top:0; right:0; bottom:0; width:100%;}
figure img.transparent {width: 100%; position: relative;}
.groupArea {position: absolute; z-index: 1; right: 10px; bottom: 10px;}
.groupArea dd {float: left; position: relative; margin-left: -10px}
.groupArea dd a {display: block; width:43px; height: 43px; border-radius: 50%; overflow: hidden}
.groupArea dd a img {width: 100%; }
.groupArea dt {float: left; background: #4c84ff; border-radius: 0 10px 10px 0; padding: 0 10px 4px 8px; height: 20px; margin:12px 0 0 -2px}
.groupArea dt a {color:#fff; font-size: 12px;}

.settings .box table th {text-align: right; width:100px; padding: 15px 0}
.settings .box table th figure {width:75px; height: 75px; border-radius: 50%; overflow: hidden; float: right}
.settings .box table th figure img {width: 100%;}
.settings .box table td {padding-left: 25px; color:#8c93a5; }
.settings .box table td:last-child {text-align: right}
.settings .box table td input[type='text'],
.settings .box table td input[type='password'] {border:0px; color:#8c93a5; width:100%;}
.settings .box table td input.info_id {font-size:20px; font-weight: 800; color:#222; margin-bottom: 13px}
.settings .box table td a.btnGrey {width:120px; height:34px; line-height: 34px; display: inline-block; border:1px solid #ddd; border-radius: 4px; text-align: center}
.settings .box table td b.info_bul {width:86px; height: 14px; display: inline-block; background: url('../img/info_bulbeon.png');  background-position: 0 -14px ; }
.settings .box table td b.info_bul.on {background-position: 0 0;}
.settings .box table td b.info_less {width:87px; height: 14px; display: inline-block; background: url('../img/info_lessonable.png'); background-position: 0 -14px ;}
.settings .box table td b.info_less.on {background-position: 0 0;}

.settings .box table td .info_toggle {width:130px; height:34px; border-radius: 4px; overflow: hidden;}
.settings .box table td .info_toggle input[type=radio] {display: none;}
.settings .box table td .info_toggle label {font-size:14px; background: #f5f6fa; color:#8c93a5; display: block; width:50%;float: left; text-align: center; height:34px; line-height: 34px;}
.settings .box table td .info_toggle label.checked {background: #54a0ee; color:#fff;}

.settings .user_inactive {text-align: right; margin: 18px 0 0;}
.settings .user_inactive a {color:#8c93a5; border:1px dashed rgba(140, 147, 165, 0); transition:all .3s;}
.settings .user_inactive a:hover {border-bottom:1px dashed rgba(140, 147, 165, 1);}

section > .title {height:auto; padding: 75px 0 55px; width:100%;}
section > .title h2 {color:#fff; font-size:40px; text-align: center; height: 45px; line-height: 45px; margin-bottom: 15px; font-weight: 800;}
section > .title p {color:#fff; font-size:15px; text-align: center; margin: 0 auto; max-width:1280px; width:80%; font-size:18px;}

.search_prj {width:80%; max-width:1280px; height:60px; background:#fff; margin: 40px auto 0;}
.search_prj input[type=text] {background: transparent; border:0px ; text-align: center; width:calc(100% - 50px); height:60px; line-height: 60px; font-size:16px;}
.search_prj button i {font-size:26px; color:#5850e7;}

.curriculum {background: #f5f6fa;}
.curriculum .list ul li {margin-bottom: 50px}
.curriculum .list ul li:last-child {margin-bottom: 0px}
.curriculum .list ul li dl::after {content:""; display: block; clear: both;}
.curriculum .list ul li dl dd {float: left}
.curriculum .list ul li dl dt {float: left; position: relative; width:520px; height:420px; background: #fff; margin-left: -40px; margin-top:40px; padding: 55px 65px;}
.curriculum .list ul li:nth-child(even) dl dd {float: right; position: relative; margin-left: -40px;}
.curriculum .list ul li:nth-child(even) dl dt {float: left;margin-left: 0px;}

.curriculum .list ul li dl dt strong { font-weight: 800; font-size:26px;line-height: 40px; color:#222;}
.curriculum .list ul li dl dt p {font-size:14px; line-height: 1.5; color:#aaa; margin: 22px 0 40px;}
.curriculum .list ul li dl dt a.btnGreen { font-size:13px; color:#50c68c; display: inline-block; text-align: center;width:105px; height:36px; line-height: 36px; background: #edf9f4; font-family: 'Montserrat'; font-weight:600; letter-spacing:.04em;}

.project .inner,
.curriculum .inner {padding: 50px 0 120px}

.project {background: #f5f6fa;}
.popupBg.projectArea {cursor: pointer;}
.project_view.web { display: none; position: fixed; background: #fff; width: 980px; height:calc(100vh - 80px); max-height:980px; overflow: hidden; margin-left:-490px; left:50%; z-index: 111; top:40px;}
.project_view .box {overflow:auto; height:100%;}
.project_view .box::after {content: ''; display: block; clear: both;}

.project_view .left {float: left; width:600px;}
.project_view .block {position: relative; height:600px; background:#394149;}
.project_view .block ul {border-radius:4px; border:1px solid #ddd; background: #fff; position: absolute; width:40px; margin: 30px 0 0 30px}
.project_view .block ul li {border-bottom:1px solid #eee;}
.project_view .block ul li:last-child {border:0px;}
.project_view .block ul li.active {background: #4d86ec; }
.project_view .block ul li.active a i {color:#fff;}
.project_view .block ul li a {display: block;height: 40px; line-height: 49px; text-align: center; }
.project_view .block ul li a i {font-size: 24px}

.project_view .reply {background: #eef0f5; padding: 35px 35px 0;}
.project_view .reply form dl::after {content: ''; display: block; clear: both}
.project_view .reply form dl dd {float: left;}
.project_view .reply form dl dd span {display: block; width: 48px; height:48px; border-radius: 50%; overflow: hidden;}
.project_view .reply form dl dd span img {width: 100%;}
.project_view .reply form dl dt {float: left; margin-left: 15px; width: calc(100% - 65px);}
.project_view .reply form dl dt textarea {width:100%; border:0px; resize: none; padding: 14px; font-size:13px; color:#333; border-radius: 4px; box-sizing: border-box;}
.project_view .reply form #charNum {display: inline-block; height:34px; line-height: 34px; margin: 0 7px 0 0;}
.project_view .reply form button {height:34px; line-height: 34px; border-radius:17px; padding:0 14px; background: #706f9d; color:#fff; font-size:13px; display: inline-block;}
.project_view .reply .list_reply {height: 226px; margin: 15px 0 0; overflow-y: auto;}
.project_view .reply .list_reply ul li {margin: 0 0 34px}
.project_view .reply .list_reply ul li > div {float: left}
.project_view .reply .list_reply ul li::after {content: ''; display: block; clear: both}
.project_view .reply .list_reply ul li .chr {width:60px;}
.project_view .reply .list_reply ul li .chr span {width:48px; height: 48px; display: block; border-radius: 50%; overflow: hidden;}
.project_view .reply .list_reply ul li .chr span img {width: 100%;}
.project_view .reply .list_reply ul li .comment {width:calc(100% - 60px);}
.project_view .reply .list_reply ul li .comment .title {height:24px;}
.project_view .reply .list_reply ul li .comment .title strong {color:#222;}
.project_view .reply .list_reply ul li .comment .title time {color:#aaa; font-size:11px;}
.project_view .reply .list_reply ul li .comment p {font-size:14px; line-height: 1.4}

.project_view .right {float: left; width:380px; height: 100%; background: #fff; position: relative;}
.project_view .writer {padding: 28px 40px; border-bottom: 1px solid #eee}
.project_view .writer dl dd {float: left;}
.project_view .writer dl dd strong {display: block; color:#333; margin: 9px 0 0}
.project_view .writer dl dd p {height:30px; line-height: 30px; color:#333;}
.project_view .writer dl dd p span {color:#aaa; position: relative; padding-left: 15px}
.project_view .writer dl dd p span::before {content: ''; display: inline-block; position: absolute; width: 4px; height: 4px; background: #aaa; border-radius: 50%; top: 8px; left: 4px;}
.project_view .writer dl dt {float: right; width:60px;}
.project_view .writer dl dt a {display: block; width:60px; height: 60px; border-radius: 50%; overflow: hidden;}
.project_view .writer dl::after {content: ''; display: block; clear: both;}
.project_view .content {padding: 40px 40px 0}
.project_view .content strong {display: block; color:#222; font-size:20px; line-height: 24px; text-align: justify;}
.project_view .content p {font-size: 14px; line-height: 1.6; margin: 40px 0; text-align: justify; max-height:400px; overflow-y: auto;}
.project_view .content time {display: block; font-size:12px; color:#aaa; margin: 10px 0}
.project_view .content .util {float: right;}
.project_view .content .util::after {content: ''; display: block; clear: both;}
.project_view .content .tag {margin: 25px 0 0}
.project_view .content .tag span {display: inline-block; padding: 0 16px; border-radius: 16px; background: #eee; height: 30px; line-height: 30px}
.project_view .right .btnLike {position: absolute;}

#fab-wp {width: 160px; height:70px;position: fixed; right:35px; bottom:35px; z-index: 3;}
.fab {float: right; width:70px; height:70px; line-height: 70px; text-align: center; border-radius: 50%; overflow:hidden; display: block; background: #666;  background: #8658e4; /* Old browsers */
background: -moz-linear-gradient(left, #8658e4 0%, #4a60e9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #8658e4 0%,#4a60e9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #8658e4 0%,#4a60e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8658e4', endColorstr='#4a60e9',GradientType=1 );-webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);
box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);}
.fab i {color:#fff; font-size:42px; position: relative; top:11px;}
.fab-alt {border-radius:4px; position: absolute; background:#333; color:#fff; font-size:12px; height:15px; line-height: 15px; padding: 7px 10px; display: block; top:20px;}
.fab-alt::after {content: ''; display: inline-block; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left:4px solid #333; position: absolute; right:-4px; top:10px; z-index: 3;}

.curr_list.row4 li {width:calc(25% - 19px) !important; margin: 0 25px 25px 0;}
.curr_list.row4 li:nth-child(4n) {margin: 0 0 25px 0}
.curr_list li .util {padding: 0px 20px 20px;}
.curr_list li .util::after {content: ""; display: block; clear: both;}
.curr_list li .util span {float: left; display: inline-block; height:30px; line-height: 30px; font-size:12px; color:#888; position: relative}
.curr_list li .util span i {font-size:19px; float: left; position: relative; top:7px; padding-right: 4px}
.curr_list li .util span:first-child {margin-right: 20px;}
.curr_list li .util span:last-child {float: right; font-size:25px; color:#ccc; transition:all .3s;}
.curr_list li .util span:last-child:hover {color:#4d86ec;}

.company .container {width:100%; max-width:1280px; margin: 0 auto; height:auto; min-height:980px;}
.company .container h3 {font-size: 22px; font-weight: 800; height: 28px; line-height: 28px; color:#333;}

.policy {background: #f5f6fa; height: auto; min-height: 580px; padding: 0 0 120px;}
.policy > .title {margin-bottom: 50px}

.csInfo {text-align: center;}
.csInfo img {width:10%;}
.csInfo p {width: 80%; margin: 0 auto; font-size: 16px; font-weight: 800; margin: 12px auto 0;}

.csRequest table {margin: 50px auto 0; width:90%;}
.csRequest table th {vertical-align: top; line-height: 40px; text-align: right; padding-right: 50px; min-width:120px;}
.csRequest table td {padding: 0 0 10px;}
.csRequest table td small {display: block; color:#ccc; margin: 3px 0 0 10px;}
.csRequest table td input {border:0px; height:40px; color:#8c93a5; padding: 0px; transition: all .3s; padding: 10px;}
.csRequest table td textarea {border:0px; color:#8c93a5; width: calc(100% - 20px); height:70px; transition: all .3s; padding: 10px;}
.csRequest table td input:focus,
.csRequest table td textarea:focus {background: #f5f6fa;}
.csRequest table td img.i_robot {height: 40px; float: left;}
.csRequest .btnOrange {height:40px; line-height: 40px; border-radius:20px; background: #de4949; padding: 0 30px; display:inline-block; font-size:14px; color:#fff;}

#errmsg {font-size:12px; color:#f64865; display: inline-block; margin-left: 12px;}
#charNum {font-size:12px; text-align: right; margin-top: 7px; color:#ccc;}

.policy .inner h3 {font-size:24px; line-height: 1.5; color:#333; letter-spacing: -0.04em; margin-top: 50px;}
.policy .inner h4 {font-size:16px; line-height: 1.8; color:#555; margin-top: 25px; font-weight: 800; letter-spacing: -0.04em;}
.policy .inner h5 {font-size:14px; line-height: 1.8; color:#222; margin-top: 18px; font-weight: 800; letter-spacing: -0.04em;}
.policy .inner p {line-height: 1.5; text-align: justify;}
.policy .inner > ul {margin-top:6px;}
.policy .inner > ul > li {margin-bottom: 6px; letter-spacing:-.01em; text-align: justify;}
.policy .inner > ul > li > ul {text-indent: 15px;}
