@charset "utf-8";

.map_util { background:  #333; color:#fff; padding: 40px; position: relative; overflow: hidden;}
.map_util h4 {font-family:'Montserrat'; font-size:60px; height:50px; line-height: 50px; position: absolute; color: rgba(255, 255, 255, .1); top:0; left:0;}
.map_util address {line-height: 160%; font-size:15px; height:65px; float: left; width:calc(100% - 240px);}
.map_util address span {font-size:14px; display: inline-block; margin-right: 7px;}
.map_util address span a {color:#fff; display: inline-block; transition: all .3s;}
.map_util address span a:hover {border-bottom:1px dashed #fff;}
.map_util .map_link {float: left;}
.map_util .map_link a {display: inline-block; width:60px; height:60px; border-radius: 50%; margin-left: 8px; overflow: hidden; text-indent: -999px; position: relative;}
.map_util .map_link a.naver {background: #00c73c; }
.map_util .map_link a.naver::after {content: ""; display: block; width:23px; height:23px; margin: 2px auto; background: url('../img/map_icon.png'); background-size:100%;}
.map_util .map_link a.google {background: #eee; background: url('../img/map_icon_google.png'); background-size:100%;}
.map_util .map_link a.daum {background: #fff;}
.map_util .map_link a.daum::after {content: ""; display: block; width:38px; height:38px; margin: 0 auto; background: url('../img/map_icon.png') 0 -195px; background-size:100%;}

.mypArea {background: #f5f6fa; height:auto; min-height:980px; padding: 50px 0 120px;}
.mypArea h2 {font-size: 28px; color: #222; height: 58px; line-height: 40px}
.mypArea h2 small {font-size:13px; color:#8c89a2;}
.mypArea .lnb {width:280px; float: left;}
.mypArea .lnb .box {background: #fff; -webkit-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2); -moz-box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2); box-shadow: 2px 2px 15px 0px rgba(180,185,251,0.2);}
.mypArea .lnb .box:after {content: ""; display: block; clear: both;}
.mypArea .lnb .box ul.mymenu {padding: 25px 0;}
.mypArea .lnb .box ul.mymenu li a {display: block; font-size: 16px; color:#8c89a2; height: 30px; line-height: 30px; padding-left: 35px; position: relative;margin: 5px 0}
.mypArea .lnb .box ul.mymenu li.active a {color:#000; font-weight: 800;}
.mypArea .lnb .box ul.mymenu li.active a:before {content: ""; display: block; width: 4px; height:30px; background: #4c84ff; position: absolute; left:0;}
.mypArea .lnb .box:last-child {margin-top: 20px;}
.mypArea .container {width: 920px; float: right;}
.mypArea .container > div::after {content: ""; display: block; clear: both;}

.curr_list > ul > li {position: relative; float: left; background: #fff; }
.curr_list.row3 > ul > li {width: calc(33.3333% - 17.4px); margin: 0 26px 25px 0}
.curr_list.row3 > ul > li:nth-child(3n) {margin: 0px;}

.curr_list > ul > li .title {padding: 20px;}
.curr_list > ul > li .title h3 {display: block; font-size:15px; color:#444; margin-bottom: 13px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:100%; overflow:hidden; font-weight: 700;}
.curr_list > ul > li .title p {font-size: 13px; color:#8c89a2; text-overflow: ellipsis; height: 17px; overflow: hidden; white-space: nowrap;}
.curr_list > ul > li .title span {font-size: 13px; color:#ccc;}
.curr_list > ul > li .title span:after {content: "";display: inline-block; width:5px;}
.curr_list > ul > li .title time {font-size: 13px; color:#000;}

.curr_list.prj ul li:first-child {border:2px dashed #8c93a5; background: transparent; height:377px; display: table; transition:-webkit-box-shadow .3s; cursor:pointer;}
.curr_list.prj ul li:first-child:hover {-webkit-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05); -moz-box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05); box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.05);}
.curr_list.prj ul li:first-child div {display: table-cell; vertical-align: middle; text-align: center}
.curr_list.prj ul li:first-child div a {color:#8c89a2; font-size:16px;}
.curr_list.prj ul li:first-child div a i {font-size:90px; }

.curr_list_recommend .slick-list:after {content: ""; display: block; background: url('../img/shadow_list.png'); width:40px; height:100%; position: absolute; z-index: 2; right: 0px; top: 0px;}
.curr_list_recommend .slick-slide {background: #fff;margin-left: 25px;}
.curr_list_recommend .slick-slide figure {width:240px;}
.curr_list_recommend .slick-slide figure img {width: 100%;}
.curr_list_recommend .slick-slide .title {padding: 20px}
.curr_list_recommend .slick-slide .title strong {display: block;}
.curr_list_recommend .slick-slide .title strong a {font-weight: 800; color:#222; font-size: 15px;}
.curr_list_recommend .slick-slide .title .rate {margin: 10px 0 0;}
.curr_list_recommend .slick-slide .title .rate span {display: inline-block; width: 20px; height:20px; background: url('../img/i_rate_star.png') 0 0; margin-right: 3px;}
.curr_list_recommend .slick-slide .title .rate.r0 span:nth-child(n+1),
.curr_list_recommend .slick-slide .title .rate.r1 span:nth-child(n+2),
.curr_list_recommend .slick-slide .title .rate.r2 span:nth-child(n+3),
.curr_list_recommend .slick-slide .title .rate.r3 span:nth-child(n+4),
.curr_list_recommend .slick-slide .title .rate.r4 span:nth-child(n+5),
.curr_list_recommend .slick-slide .title .rate.r5 span:nth-child(n+6) {background-position: 0 -20px;}
.curr_list_recommend .slick-arrow {position: absolute; right:0; top:-56px; text-indent: -9999px; overflow:hidden; height:38px; width:38px; border:1px solid #eee; background: #fff;}
.curr_list_recommend .slick-arrow.slick-prev {right:37px;}
.curr_list_recommend .slick-arrow.slick-prev::after {content: "<"; display: inline-block;}
.curr_list_recommend .slick-arrow.slick-next::after {content: ">"; display: inline-block;}

figure img.origin {position: absolute; left:0px; top:0; right:0; bottom:0; width:100%; height: 100%;}
figure img.transparent {width: 100%; position: relative;}
.groupArea {position: absolute; z-index: 1; right: 10px; bottom: 10px;}
.groupArea dd {float: left; position: relative; margin-left: -10px}
.groupArea dd a {display: block; width:43px; height: 43px; border-radius: 50%; overflow: hidden}
.groupArea dd a img {width: 100%;}
.groupArea dt {float: left; background: #4c84ff; border-radius: 0 10px 10px 0; padding: 2px 10px 3px 8px; height: 20px; margin:12px 0 0 -2px}
.groupArea dt a {color:#fff; font-size: 12px;}

.settings .box table th {text-align: right; width:100px; padding: 15px 0}
.settings .box table th figure {width:75px; height: 75px; border-radius: 50%; overflow: hidden; float: right}
.settings .box table th figure img {width: 100%;}
.settings .box table td {padding-left: 25px; color:#8c93a5; }
.settings .box table td:last-child {text-align: right}
.settings .box table td input[type='text'],
.settings .box table td input[type='password'] {border:0px; color:#8c93a5; width:100%;}
.settings .box table td input.info_id {font-size:20px; font-weight: 800; color:#222; margin-bottom: 13px}
.settings .box table td a.btnGrey {width:120px; height:34px; line-height: 34px; display: inline-block; border:1px solid #ddd; border-radius: 4px; text-align: center}
.settings .box table td b.info_bul {width:86px; height: 14px; display: inline-block; background: url('../img/info_bulbeon.png');  background-position: 0 -14px ; }
.settings .box table td b.info_bul.on {background-position: 0 0;}
.settings .box table td b.info_less {width:87px; height: 14px; display: inline-block; background: url('../img/info_lessonable.png'); background-position: 0 -14px ;}
.settings .box table td b.info_less.on {background-position: 0 0;}
.settings .box table td .info_toggle {width:130px; height:34px; border-radius: 4px; overflow: hidden;}
.settings .box table td .info_toggle input[type=radio] {display: none;}
.settings .box table td .info_toggle label {font-size:14px; background: #f5f6fa; color:#8c93a5; display: block; width:50%;float: left; text-align: center; height:34px; line-height: 34px;}
.settings .box table td .info_toggle label.checked {background: #54a0ee; color:#fff;}
.settings .user_inactive {text-align: right; margin: 18px 0 0;}
.settings .user_inactive a {color:#8c93a5; border:1px dashed rgba(140, 147, 165, 0); transition:all .3s;}
.settings .user_inactive a:hover {border-bottom:1px dashed rgba(140, 147, 165, 1);}

section > .title {height:auto; padding: 75px 0 55px; width:100%;}
section > .title h2 {color:#fff; font-size:40px; text-align: center; height: 45px; line-height: 45px; margin-bottom: 15px;}
section > .title p {color:#fff; font-size:15px; text-align: center; margin: 0 auto; max-width:1280px; width:80%; font-size:18px;}

.search_prj {width:calc(100% - 40px); max-width:1280px; height:60px; background:#fff; margin: 40px auto 0;}
.search_prj input[type=text] {background: transparent; border:0px ; text-align: left; width:calc(100% - 85px); margin-left: 25px; height:60px; line-height: 60px; font-size:16px;}
.search_prj button i {font-size:26px; color:#5850e7;}

.curriculum {background: #f5f6fa;}
.curriculum .list ul li {margin-bottom: 50px}
.curriculum .list ul li:last-child {margin-bottom: 0px}
.curriculum .list ul li dl::after {content:""; display: block; clear: both;}
.curriculum .list ul li dl dd {float: left; width:800px;}
.curriculum .list ul li dl dd img {max-height:510px;}
.curriculum .list ul li dl dt {float: left; position: relative; width:520px; height:420px; background: #fff; margin-left: -40px; margin-top:40px; padding: 55px 65px;}
.curriculum .list ul li dl dt h3 {font-size:26px; line-height: 1.4; color:#000;}
.curriculum .list ul li:nth-child(even) dl dd {float: right; position: relative; margin-left: -40px;}
.curriculum .list ul li:nth-child(even) dl dt {float: left; margin-left: 0px;}s
.curriculum .list ul li dl dt strong { font-weight: 800; font-size:26px;line-height: 40px; color:#222;}
.curriculum .list ul li dl dt p {font-size:14px; line-height: 1.5; color:#aaa; margin: 22px 0 40px;}
.curriculum .list ul li dl dt a.btnGreen { font-size:15px; background: #50c68c; color:#fff; display: inline-block; text-align: center; width:105px; height:42px; line-height: 42px; border-radius:5px; font-family: 'Montserrat'; font-weight:600; letter-spacing:.04em;}

.project .inner,
.curriculum .inner {padding: 50px 0 120px}

.project {background: #f5f6fa;}
.popupBg.projectArea {cursor: pointer;}
.project_view.web { display: none; position: fixed; background: #fff; width: 980px; height:calc(100vh - 80px); max-height:980px; overflow: hidden; margin-left:-490px; left:50%; z-index: 111; top:40px;}
.project_view .box {overflow:auto; height:100%;}
.project_view .box::after {content: ''; display: block; clear: both;}
.project_view .left {float: left; width:600px;}
.project_view .block {position: relative; height:600px; background:#394149;}
.project_view .block ul {border-radius:4px; border:1px solid #ddd; background: #fff; position: absolute; width:40px; margin: 30px 0 0 30px; overflow: hidden;}
.project_view .block ul li {border-bottom:1px solid #eee;}
.project_view .block ul li:last-child {border:0px;}
.project_view .block ul li.active {background: #4d86ec; }
.project_view .block ul li.active a i {color:#fff;}
.project_view .block ul li a {display: block;height: 40px; line-height: 49px; text-align: center; }
.project_view .block ul li a i {font-size: 24px}
.project_view .reply {background: #eef0f5; padding: 35px 35px 0;}
.project_view .reply form dl::after {content: ''; display: block; clear: both}
.project_view .reply form dl dd {float: left;}
.project_view .reply form dl dd span {display: block; width: 48px; height:48px; border-radius: 50%; overflow: hidden;}
.project_view .reply form dl dd span img {width: 100%;}
.project_view .reply form dl dt {float: left; margin-left: 15px; width: calc(100% - 65px);}
.project_view .reply form dl dt textarea {width:100%; border:0px; resize: none; padding: 14px; font-size:13px; color:#333; border-radius: 4px; box-sizing: border-box;}
.project_view .reply form #charNum {display: inline-block; height:34px; line-height: 34px; margin: 0 7px 0 0;}
.project_view .reply form button {height:34px; line-height: 34px; border-radius:17px; padding:0 14px; background: #706f9d; color:#fff; font-size:13px; display: inline-block;}
.project_view .reply .list_reply {height: 226px; margin: 15px 0 0; overflow-y: auto;}
.project_view .reply .list_reply ul li {margin: 0 0 34px}
.project_view .reply .list_reply ul li > div {float: left}
.project_view .reply .list_reply ul li::after {content: ''; display: block; clear: both}
.project_view .reply .list_reply ul li .chr {width:60px;}
.project_view .reply .list_reply ul li .chr span {width:48px; height: 48px; display: block; border-radius: 50%; overflow: hidden;}
.project_view .reply .list_reply ul li .chr span img {width: 100%;}
.project_view .reply .list_reply ul li .comment {width:calc(100% - 60px);}
.project_view .reply .list_reply ul li .comment .title {height:24px;}
.project_view .reply .list_reply ul li .comment .title strong {color:#222;}
.project_view .reply .list_reply ul li .comment .title time {color:#aaa; font-size:11px;}
.project_view .reply .list_reply ul li .comment p {font-size:14px; line-height: 1.4}

.project_view .right {float: left; width:380px; height: 100%; background: #fff; position: relative;}
.project_view .writer {padding: 28px 40px; border-bottom: 1px solid #eee}
.project_view .writer dl dd {float: left;}
.project_view .writer dl dd strong {display: block; color:#333; margin: 9px 0 0}
.project_view .writer dl dd p {height:30px; line-height: 30px; color:#333;}
.project_view .writer dl dd p span {color:#aaa; position: relative; padding-left: 15px}
.project_view .writer dl dd p span::before {content: ''; display: inline-block; position: absolute; width: 4px; height: 4px; background: #aaa; border-radius: 50%; top: 8px; left: 4px;}
.project_view .writer dl dt {float: right; width:60px;}
.project_view .writer dl dt a {display: block; width:60px; height: 60px; border-radius: 50%; overflow: hidden;}
.project_view .writer dl::after {content: ''; display: block; clear: both;}
.project_view .content {padding: 40px 40px 0}
.project_view .content strong {display: block; color:#222; font-size:20px; line-height: 24px; text-align: justify;}
.project_view .content p {font-size: 14px; line-height: 1.6; margin: 40px 0; text-align: justify; max-height:385px; overflow-y: auto;}
.project_view .content time {display: block; font-size:12px; color:#aaa; margin: 10px 0}
.project_view .content .util {float: right;}
.project_view .content .util::after {content: ''; display: block; clear: both;}
.project_view .content .tag {margin: 25px 0 0}
.project_view .content .tag span {display: inline-block; padding: 0 16px; border-radius: 16px; background: #eee; height: 30px; line-height: 30px}
.project_view .right .btnLike {margin: 60px 0 0;}
.project_view .right .btnLike button {margin: 0 auto; display: block; width:88px; height:84px; text-indent:-9999px; overflow: hidden; background: url('../img/btn_like.png') no-repeat; background-size:cover;}

#fab-wp {width: 160px; height:70px;position: fixed; right:35px; bottom:35px; z-index: 3;}
.fab {float: right; width:70px; height:70px; line-height: 70px; text-align: center; border-radius: 50%; overflow:hidden; display: block; background: #666;  background: #8658e4; background: -moz-linear-gradient(left, #8658e4 0%, #4a60e9 100%);  background: -webkit-linear-gradient(left, #8658e4 0%,#4a60e9 100%);  background: linear-gradient(to right, #8658e4 0%,#4a60e9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8658e4', endColorstr='#4a60e9',GradientType=1);-webkit-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2); box-shadow: 3px 3px 20px 2px rgba(0,0,0,0.2);}
.fab i {color:#fff; font-size:42px; position: relative; top:13px;}
.fab-alt {border-radius:4px; position: absolute; background:#333; color:#fff; font-size:12px; line-height: 15px; padding: 7px 10px; display: block; top:20px;}
.fab-alt::after {content: ''; display: inline-block; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left:4px solid #333; position: absolute; right:-4px; top:10px; z-index: 3;}

.curr_list.row4 li {width:calc(25% - 19px) !important; margin: 0 25px 25px 0;}
.curr_list.row4 li:nth-child(4n) {margin: 0 0 25px 0}
.curr_list li .util {padding: 0px 20px 20px;}
.curr_list li .util::after {content: ""; display: block; clear: both;}
.curr_list li .util span {float: left; display: inline-block; height:30px; line-height: 30px; font-size:12px; color:#888; position: relative}
.curr_list li .util span i {font-size:19px; float: left; position: relative; top:4px; padding-right: 4px}
.curr_list li .util span:first-child {margin-right: 20px;}
.curr_list li .util span:last-child {float: right; font-size:25px; color:#ccc; transition:all .3s;}
.curr_list li .util span:last-child:hover {color:#4d86ec;}
.company .container {width:100%; max-width:1280px; margin: 0 auto; height:auto; min-height:980px;}
.company .container h3 {font-size: 22px; font-weight: 800; height: 28px; line-height: 28px; color:#333;}
.policy {background: #f5f6fa; height: auto; min-height: 580px; padding: 0 0 120px;}
.policy > .title {margin-bottom: 50px}
.csInfo {text-align: center;}
.csInfo img {width:10%;}
.csInfo p {width: 80%; margin: 0 auto; font-size: 16px; font-weight: 800; margin: 12px auto 0;}
.csRequest table {margin: 50px auto 0; width:90%;}
.csRequest table th {vertical-align: top; line-height: 40px; text-align: right; padding-right: 50px; min-width:120px;}
.csRequest table td {padding: 0 0 10px;}
.csRequest table td small {display: block; color:#ccc; margin: 3px 0 0 10px;}
.csRequest table td input {border:0px; height:40px; color:#8c93a5; padding: 0px; transition: all .3s; padding: 10px;}
.csRequest table td textarea {border:0px; color:#8c93a5; width: calc(100% - 20px); height:70px; transition: all .3s; padding: 10px;}
.csRequest table td input:focus,
.csRequest table td textarea:focus {background: #f5f6fa;}
.csRequest table td img.i_robot {height: 40px; float: left;}
.csRequest .btnOrange {height:40px; line-height: 40px; border-radius:20px; background: #ff4d4e; padding: 0 30px; display:inline-block; font-size:14px; color:#fff;}

#errmsg {font-size:12px; color:#ff4d4e; display: inline-block; margin-left: 12px;}
#charNum {font-size:12px; text-align: right; margin-top: 7px; color:#ccc;}

.policy .inner h3 {font-size:24px; line-height: 1.5; color:#333; letter-spacing: -0.04em; margin-top: 50px;}
.policy .inner h4 {font-size:16px; line-height: 1.8; color:#555; margin-top: 25px; font-weight: 800; letter-spacing: -0.04em;}
.policy .inner h5 {font-size:14px; line-height: 1.8; color:#222; margin-top: 18px; font-weight: 800; letter-spacing: -0.04em;}
.policy .inner p {line-height: 1.5; text-align: justify;}
.policy .inner > ul {margin-top:6px;}
.policy .inner > ul > li {margin-bottom: 6px; letter-spacing:-.01em; text-align: justify;}
.policy .inner > ul > li > ul {text-indent: 15px;}

.login .hero__background {transform: scaleY(.1);}
.login > svg {left: 0; pointer-events: none; position: absolute; top: 0; -webkit-transform-origin: top center; transform-origin: top center; width: 100%; z-index: -1; }
.login .container {margin: 30px auto 120px;}
.__member {margin: -40px auto 0; position: relative; background: #fff; -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15); -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);}
.__member h2 {font-size: 24px; text-align: center; font-weight: 800; color:#333; height: 24px; margin: 65px 0 0;}
.__member p {font-size: 14px;}
.__member.joinArea form textarea {font-size: 12px; border:1px solid #ddd; width:100%; height:105px; padding: 15px; box-sizing: border-box; margin: 15px 0 0}
.__member form input[type='text'],
.__member form input[type='password'],
.__member form input[type='number'],
.__member form input[type='email'] {width: 100%;border:1px solid #ddd; height: 45px; padding: 0 0 0 15px}
.__member form input[type='text'].wrong,
.__member form input[type='password'].wrong {border:1px solid #ff4d4e;}
.__member form input[type='text'].wrong + small,
.__member form input[type='password'].wrong + small {color:#ff4d4e; display: block; font-size:12px; margin: 0px; line-height: 20px}
.__member form input[type='text'].wrong + small i,
.__member form input[type='password'].wrong + small i {font-size:16px; margin: 3px 3px 0 0; position: relative; top:2px;}
.__member form input[type='text'].correct,
.__member form input[type='password'].correct {border:1px solid #09ad78;}
.__member form input[type='text'].correct + small,
.__member form input[type='password'].correct + small {color:#09ad78; display: block; font-size:12px; margin: 0px; line-height: 20px}
.__member form input[type='text'].correct + small i,
.__member form input[type='password'].correct + small i {font-size:16px; margin: 3px 3px 0 0; position: relative; top:2px;}
.__member form dl {width:80%; margin: 0 auto;}
.__member form dl dd {margin: 0 0 15px;}
.__member form dl dt {padding: 30px 0 15px;}
.__member form dl dt h4 {font-size:15px; color:#222;}
.__member form dl dd::after {content: ""; display: block; clear: both;}
.__member form dl button {text-align: center; display: block; width: 99%; font-size:15px; height: 46px; color: #fff; background: #cc5aa4; background: -moz-linear-gradient(left, #cc5aa4 0%, #544ae4 100%); background: -webkit-linear-gradient(left, #cc5aa4 0%, #544ae4 100%); background: linear-gradient(to right, #cc5aa4 0%,#544ae4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5aa4', endColorstr='#544ae4',GradientType=1); border-radius: 23px;}
.__member form input[type='checkbox'] {display: none;}

.loginArea {max-width: 470px; padding: 50px 0 30px;}
.loginArea::after {content: ""; display: inline-block; }
.loginArea p {text-align: center; width:60%; margin: 15px auto 30px;}
.loginArea dd.util {margin: 14px 0 0}
.loginArea dd.util::after {content: ""; display: block; clear: both;}
.loginArea dd.util a {display: inline-block; float: left; height:14px; font-size:14px; transition:all .3s; color:#888;}
.loginArea dd.util a:last-child {float: right; color:#222;}
.loginArea dd.util span {float: left}
.loginArea .line {text-align: center; width: 80%; margin: 40px auto; position: relative; font-family: "Montserrat"; }
.loginArea .line::before,
.loginArea .line::after {content: ""; display: block; height: 1px; width:40%; background: #ccc; position: absolute; top: 9px}
.loginArea .line::after {right: 0px;}
.loginArea ul.loginOther li {width: 80%; margin: 0 auto 20px}
.loginArea ul.loginOther li a {display: block; height:54px; line-height: 54px; color:#fff; font-size:15px; position: relative; background: #7e5787; padding-left: 30px; border-radius:27px;}
.loginArea ul.loginOther li:nth-child(2) {margin: 0 auto 0;}
.loginArea ul.loginOther li:nth-child(2) a {background: #51ba9f;}
.loginArea ul.loginOther li a span {position: absolute; right:30px; display: inline-block; width: 24px; height:24px; background: url('../img/ico_lessonable.png') center 50% no-repeat; top:14px;}
.loginArea ul.loginOther li a span.ico_b {background-image:url('../img/lco_bull.png'); }

.joinArea {max-width: 470px; padding: 20px 0 50px;}
.joinArea form .name input[name='j_surname'] {float: left; width:35%;}
.joinArea form .name input[name='j_name'] {float: right; width:calc(65% - 10px);}
.joinArea form .birth input[name='numeric'] {float: left; width:calc(100% - 100px);}
.joinArea form .birth .genderArea {float: right; width:90px; border: 1px solid #ddd;}
.joinArea form .birth .genderArea input {width:0px; height:0px;opacity: 0;}
.joinArea form .birth .genderArea label {display: block; float: left; text-align: center; height: 43px; line-height: 45px; cursor: pointer;}
.joinArea form .birth .genderArea label[for='gender1'] {width: calc(50% - 1px); border-right:1px solid #ddd;}
.joinArea form .birth .genderArea label[for='gender2'] {width:50%;}
.joinArea form .birth .genderArea label.checked {background: #544ae4; color:#fff;}
.joinArea.step2 dt p {text-align: center;}
.joinArea.step2 dt p img {width:23%;}

.joinArea.step3 {height:380px; text-align: center; background: #f6f6f6; }
p.infoP {margin: 30px auto 0; text-align: center; line-height: 160%; font-size: 14px;}

.findArea { width:470px; padding: 50px 0;}
.findArea .util {margin: 12px 0 0;}
.findArea .util a {display: inline-block; float: left;}
.findArea .util a i {font-size:1rem; float: left}
.findArea .util a:last-child {float: right; color:#544ae4;}

.chkArea {cursor: pointer;}
.chkArea label {display: inline-block; position: relative; font-size:13px; color:#aaa;}
.chkArea label i {color:#aaa; font-size:1rem; position: relative; top:3px; padding-right: 5px;}
.chkArea label i::before {border:2px solid #aaa; border-radius: 50%;}
.chkArea label.checked,
.chkArea label.checked i {color:#00bc7c;}
.chkArea label.checked i::before {border-color:#00bc7c;}

.message {background: #f5f6fa;}
.message .container {width:100%; max-width:1280px; background: #fff; margin: 50px auto; height:calc(100vh - 165px);}
.message .container::after {content: ""; display: block; clear: both;}
.message .container > .left {width: 280px; height: 100%; background: #fcfcfd; float: left; border-right: 1px solid #eee;}
.message .container > .left .profile {width: calc(100% - 50px); margin: 25px 25px 0;}
.message .container > .left .profile::after {content: ""; display: block; clear: both;}
.message .container > .left figure {width: 48px; height: 48px; border-radius: 50%; background: #ccc; float: left;}
.message .container > .left figure img {width:100%;}
.message .container > .left .my_id {display: block; float: left; width: 100px; height: 48px; line-height: 48px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; color:#222; font-weight: 700; margin-left: 8px;}
.message .container > .left .profile ul {float: right; margin: 8px 0 0;}
.message .container > .left .profile ul li {float: left;}
.message .container > .left .profile ul li a {display: inline-block; width:30px; height: 30px; line-height: 30px; text-align: center;}
.message .container > .left .profile ul li a i {font-size: 24px; line-height: inherit; color:#aaadb7;}
.message .container > .left .mesArea {margin: 40px 0 0; }
.message .container > .left .mesArea::after {content: ""; display: block; clear: both;}
.message .container > .left .mesArea h3 {color:#444; font-weight: 700; font-size: 13px; height: 30px; line-height: 30px; margin: 0 25px; letter-spacing: 0.05em;}
.message .container > .left .mesArea h3::after {content: ""; display: block; clear: both;}
.message .container > .left .mesArea h3 a {float: right; display: inline-block; width:30px; height: 30px; text-align: center;}
.message .container > .left .mesArea h3 a i {font-size: 22px; color:#ccc;}
.message .container > .left .mesArea ul {position: relative;}
.message .container > .left .mesArea ul li::after {content: ""; display: block; clear: both;}
.message .container > .left .mesArea ul li {padding: 12px 25px;}
.message .container > .left .mesArea ul li:last-child {margin: 0 0 0;}
.message .container > .left .mesArea ul li figure {width: 38px; height: 38px;}
.message .container > .left .mesArea ul li figure img {width: 100%;}
.message .container > .left .mesArea ul li .name {float: left; margin-left: 8px;}
.message .container > .left .mesArea li {position: relative;}
.message .container > .left .mesArea li::before {transition: all .3s;}
.message .container > .left .mesArea li:hover {background: rgba(0,0,0,.05); cursor: pointer;}
.message .container > .left .mesArea li:hover::before {content:"\e996"; display: block; position: absolute; font-family: xeicon!important; left:2px; font-size:22px; top: 23px;}
.message .container > .left .mesArea li .name .char_id {position: relative; height: 18px; line-height: 1.6; float: none; margin: 0; font-size:13px; color:#5f6681; display: inline-block; font-weight: 700; letter-spacing: 0.05em; margin-top: 4px;}
.message .container > .left .mesArea li .name .char_id.new::after {content: ""; display: block; width: 6px; height: 6px; position: absolute; background: #f75749; right: -10px; top: 0px; border-radius: 50%;}
.message .container > .left .mesArea li .name time {font-size:10px; color:#aaa; display: block;}
.message .container > .left .mesArea li > a {float: right; margin-right:6px; display: inline-block; margin-top: 9px; display: none;}
.message .container > .left .mesArea li > a i {font-size: 18px; color:#aaa;}
.message .container > .left .mesArea li:hover > a {display: block;}
.message .container > .left .mesForm input[type="text"] {}
.message .container > .left .mesArea ol li {padding: 12px 25px;}
.message .container > .left .mesArea ol li.active {background: #5f6681; }
.message .container > .left .mesArea ol li.active .name .char_id {color: #fff;}

.message .container > .right {width: calc(100% - 281px); height: 100%; float: left;}
.message .container > .right .top {border-bottom: 1px solid #eee; height:70px;}
.message .container > .right .top .left {float: left; margin-left: 25px;}
.message .container > .right .top .left h3 {font-size: 16px; font-weight: 700; margin-top: 21px; height:19px;}
.message .container > .right .top .left time {font-size:10px; color:#aaa; display: inline-block;}
.message .container > .right .top .left span {font-size:10px; color:#aaa; display: inline-block; position: relative; padding-left: 4px;}
.message .container > .right .top .left span i {font-size:13px; position: relative; top: 2px;}

.message .container > .right .top .right {float: right;}
.message .container > .right .top .right form {float: left; margin-top: 19px; position: relative;}
.message .container > .right .top .right form input[type="text"] { padding: 0 10px; width: 150px; border-radius:4px; border:1px solid #ddd; height:34px; font-size:12px;}
.message .container > .right .top .right form::after {content: "\e97a"; display: block; position: absolute; font-family: xeicon!important; right: 7px; font-size: 17px; top: 9px; color:#8f94a6;}
.message .container > .right .top .right ul {float: left; margin: 18px 25px 0 10px;}
.message .container > .right .top .right ul li {float: left; margin-left: 20px;}
.message .container > .right .top .right ul li a {display: inline-block; height:34px; line-height: 34px;}
.message .container > .right .top .right ul li a i {font-size:24px; line-height: 34px; color:#8f94a6; transition: all .3s}
.message .container > .right .top .right ul li a:hover i {color:#5195ee;}
.message .container > .right .top .right ul li:nth-child(2) a i {font-size:29px;}

.message .container > .right .contents {height: calc(100% - 71px);}
.message .container > .right .contents::after {content: ""; display: block; clear: both;}
.message .container > .right .contents .talk {float: left; }
.message .container > .right .contents .file {float: right; width:240px; height: 100%; border-left: 1px solid #eee;}

.maze > div::after {content: ""; clear: both; display: block;}
.maze .box1 {text-align: center; background: url('../img/maze001.png') right top no-repeat; height: 450px}
.maze .box1 span {display: inline-block; height:30px; margin: 85px 0 0; font-size: 16px; font-family: 'Montserrat'}
.maze .box1 h3 {font-size:40px; height:60px; line-height: 60px; color:#000;}
.maze .box1 h4 {font-size:20px; height:30px; line-height: 30px; color:#000;}
.maze .box1 p {font-size:15px; line-height: 1.7; width:50%; margin: 30px auto 0;}
.maze .box2 {background: #f7f3e8;}
.maze .box2 h3 {text-align: center;}
.maze .box2 h3 span {background: url('../img/curr_h3.png'); width:110px; height:91px; display: inline-block; overflow: hidden; text-indent: -999px;}
.maze .box2 ul {padding: 40px 0 80px;}
.maze .box2 ul::after {content: ""; clear: both; display: block;}
.maze .box2 ul li {position: relative; float: left; width:25%;}
.maze .box2 ul li div {width:170px; margin: 0 auto;}
.maze .box2 ul li span {position: absolute; width: 40px; height: 40px; line-height: 40px; text-align: center; display: inline-block; color:#fff; background:#4b3e2e; z-index: 2; border-radius: 50%; font-family: 'Montserrat';}
.maze .box2 ul li figure {width: 170px; height: 170px; border-radius: 50%; background: #fff; text-align: center; display: table-cell; vertical-align: middle;}
.maze .box2 ul li figure img {width: 50%;}
.maze .box2 ul li:first-child figure {text-align: right;}
.maze .box2 ul li:first-child figure img {width: 75%;}
.maze .box2 ul li p {text-align: center; margin: 15px 0 0;}
